In [1]:
import pandas as pd
import numpy as np
import time
import gc

In [2]:
path = '/home/kai/data/kaggle/talkingdata/data/'
dtypes = {
        'ip'            : 'uint64',
        'app'           : 'uint64',
        'device'        : 'uint64',
        'os'            : 'uint64',
        'channel'       : 'uint64',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }

train = pd.read_csv(path + 'train.csv',dtype=dtypes)
print('train done!')
# test = pd.read_csv(path + 'test.csv',dtype=dtypes)
# print('test done!')
# test_supplement = pd.read_csv(path + 'test_supplement.csv',dtype=dtypes)
# print('supplement done!')

train done!

In [2]:
path = '/home/kai/data/kaggle/talkingdata/data/'
temp = pd.read_csv(path+"supplement2testInexFinal.csv")

In [3]:
temp.head(20)

    test_click  supplement_click
0            0          21290878
1            1          21290876
2            2          21290877
3            3          21290879
4            4          21290880
5            5          21290882
6            6          21290881
7            7          21290883
8            9          21290884
9            8          21290885
10          10          21290886
11          11          21290887
12          12          21290888
13          13          21290889
14          14          21290890
15          15          21290892
16          16          21290891
17          20          21290894
18          19          21290893
19          17          21290895

In [6]:
temp.to_feather(fname='/home/kai/data/kaggle/talkingdata/data/feature_tmp.ftr')

In [7]:
rr = pd.read_feather('/home/kai/data/kaggle/talkingdata/data/feature_tmp.ftr',dr)

In [8]:
rr

          test_click  supplement_click
0                  0          21290878
1                  1          21290876
2                  2          21290877
3                  3          21290879
4                  4          21290880
5                  5          21290882
6                  6          21290881
7                  7          21290883
8                  9          21290884
9                  8          21290885
10                10          21290886
11                11          21290887
12                12          21290888
13                13          21290889
14                14          21290890
15                15          21290892
16                16          21290891
17                20          21290894
18                19          21290893
19                17          21290895
20                18          21290896
21                21          21290897
22                22          21290900
23                23          21290899
24                24          21290898
25                25          21290901
26                26          21290902
27                27          21290903
28                28          21290904
29                29          21290905
...              ...               ...
18790439    18790438          54584229
18790440    18790440          54584231
18790441    18790441          54584230
18790442    18790442          54584232
18790443    18790443          54584233
18790444    18790444          54584234
18790445    18790445          54584235
18790446    18790446          54584236
18790447    18790447          54584237
18790448    18790448          54584239
18790449    18790449          54584238
18790450    18790450          54584240
18790451    18790451          54584241
18790452    18790452          54584242
18790453    18790453          54584243
18790454    18790455          54584245
18790455    18790454          54584244
18790456    18790456          54584246
18790457    18790457          54584248
18790458    18790458          54584247
18790459    18790459          54584249
18790460    18790460          54584250
18790461    18790462          54584251
18790462    18790461          54584252
18790463    18790463          54584253
18790464    18790464          54584255
18790465    18790465          54584254
18790466    18790467          54584257
18790467    18790466          54584256
18790468    18790468          54584258

[18790469 rows x 2 columns]

# Process Timestamp

In [155]:
import multiprocessing
workers = 20

def _apply_df(args):
    df, func, kwargs = args
    return df.apply(func, **kwargs)

def apply_by_multiprocessing(df, func, **kwargs):
    workers = kwargs.pop('workers')
    pool = multiprocessing.Pool(processes=workers)
    result = pool.map(_apply_df, [(d, func, kwargs)
            for d in np.array_split(df, workers)])
    pool.close()
    return pd.concat(list(result))

def get_timestamp(x):
    return x.timestamp()

for df in [test_supplement,test]:
    clicks = pd.to_datetime(df.click_time)
    print('get clicks')
    df['timestamp'] = apply_by_multiprocessing(clicks, get_timestamp, workers=workers)
    #     df['timestamp'] = clicks.apply(lambda t: t.timestamp())
    df['timestamp'] = df['timestamp'].astype('uint64')
    print('timestamping is done')

get clicks
timestamping is done
get clicks
timestamping is done

In [172]:
orders = {}
feature_col = ['ip', 
              'app', 
              'device', 
              'os', 
              'channel',
              'timestamp']

# feature_col = ['ip', 
#               'app', 
#               'device', 
#               'os', 
#               'channel']
for col in feature_col:
    orders[col] = 10 ** (int(np.log(max(test_supplement[col].max(),test[col].max() ) + 1) / np.log(10)) + 1)
def get_group(df, cols):
    """
    define an encoding method which can ganrantee the adding value will be unique.
    eg: artist_name_composer will be a combination of (artist_name,composer) and the encoding will reflect the unqiue combination of those two
    """
    group = df[cols[0]].copy()
    for col in cols[1:]:
        print(col)
        group = group * orders[col] + df[col]
        print(group.iloc[0])
        
    return group

def get_group_new(df, cols):
    group = df[cols[0]].copy().apply(str)
    for col in cols[1:]:
        group = group + df[col].apply(str)      
    return group

In [157]:
orders

{'app': 1000,
 'channel': 1000,
 'device': 10000,
 'ip': 1000000,
 'os': 1000,
 'timestamp': 10000000000}

In [173]:
test_group = get_group_new(test,['ip', 'app', 'device', 'channel','os','timestamp'])
test_supplement_group = get_group_new(test_supplement,['ip', 'app', 'device', 'channel','os','timestamp'])

In [174]:
test['encoding'] = test_group
test_supplement['encoding'] = test_supplement_group

In [ ]:
ts1 = 0
ts2 = 6202933  
ts3 = 12316147

In [55]:
start1 = 21290878
start2 = 35678696
start3 = 48109937
end1 = 27493808
end2 = 41791909
end3 = 54584258

# Part 1

In [176]:
# part1 = test.merge(test_supplement.iloc[start1-2: end1+2], on=['ip', 'app', 'device', 'channel','os', 'click_time'], how='inner')
part1 = test.merge(test_supplement.iloc[start1-2: end1+2], on=['encoding'], how='inner')


print(len(part1.click_id_x.value_counts()))
print(len(part1.click_id_y.value_counts()))

6202933
6202933

In [177]:
grouping = part1.groupby('encoding')

In [ ]:
x = []
y = []
count = 0
for group in grouping:
    x.extend(sorted(list(set(group[1].click_id_x.values))))
    y.extend(sorted(list(set(group[1].click_id_y.values))))
    count += 1
    if count % 10000 == 0:
        print(count)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000
2440000
2450000
2460000
2470000
2480000
2490000
2500000
2510000
2520000
2530000
2540000
2550000
2560000
2570000
2580000
2590000
2600000
2610000
2620000
2630000
2640000
2650000
2660000
2670000
2680000
2690000
2700000
2710000
2720000
2730000
2740000
2750000
2760000
2770000
2780000
2790000
2800000
2810000
2820000
2830000
2840000
2850000

# Part 2

In [90]:
part2 = test.merge(test_supplement.iloc[start2-2: end2+2], on=['encoding'], how='inner')

print(len(part2.click_id_x.value_counts()))
print(len(part2.click_id_y.value_counts()))

6113214
6113214

In [ ]:
grouping = part2.groupby('encoding')
count = 0
for group in grouping:
    x.extend(sorted(list(set(group[1].click_id_x.values))))
    y.extend(sorted(list(set(group[1].click_id_y.values))))
    count += 1
    if count % 10000 == 0:
        print(count)

# Part 3

In [91]:
part3 = test.merge(test_supplement.iloc[start3-2: end3+2], on=['encoding'], how='inner')

print(len(part3.click_id_x.value_counts()))
print(len(part3.click_id_y.value_counts()))

6474322
6474322

In [ ]:
grouping = part3.groupby('encoding')
count = 0
for group in grouping:
    x.extend(sorted(list(set(group[1].click_id_x.values))))
    y.extend(sorted(list(set(group[1].click_id_y.values))))
    count += 1
    if count % 10000 == 0:
        print(count)

# Check NA

In [5]:
print('training length is {}'.format(len(train)))
print('testing length is {}'.format(len(test)))
print('test_supplement length is {}'.format(len(test_supplement)))

n_train = pd.isnull(train).sum()
n_test = pd.isnull(test).sum()
n_test_supplement = pd.isnull(test_supplement).sum()

print(n_train)
print('-------------------')
print(n_test)
print('-------------------')
print(n_test_supplement)

### there is no N/A

training length is 184903890
testing length is 18790469
test_supplement length is 57537505
ip                         0
app                        0
device                     0
os                         0
channel                    0
click_time                 0
attributed_time    184447044
is_attributed              0
dtype: int64
-------------------
click_id      0
ip            0
app           0
device        0
os            0
channel       0
click_time    0
dtype: int64
-------------------
click_id      0
ip            0
app           0
device        0
os            0
channel       0
click_time    0
dtype: int64

# add time features

In [4]:
# get timestamp

import multiprocessing

def _apply_df(args):
    df, func, kwargs = args
    return df.apply(func, **kwargs)

def apply_by_multiprocessing(df, func, **kwargs):
    workers = kwargs.pop('workers')
    pool = multiprocessing.Pool(processes=workers)
    result = pool.map(_apply_df, [(d, func, kwargs)
            for d in np.array_split(df, workers)])
    pool.close()
    return pd.concat(list(result))

def get_timestamp(x):
    return x.timestamp()





workers = 30

for df in [train, test]:
    clicks = pd.to_datetime(df.click_time)
    print('get clicks')
    df['timestamp'] = apply_by_multiprocessing(clicks, get_timestamp, workers=workers)
#     df['timestamp'] = clicks.apply(lambda t: t.timestamp())
    df['timestamp'] = df['timestamp'].astype('uint32')
    print('timestamping is done')
    
    dt = clicks.dt

    df['year'] = dt.year.astype('uint16')
    print('year is done')
    
    df['month'] = dt.month.astype('uint8')
    print('month is done')
        
    df['week'] = dt.week.astype('uint8')
    print('week is done')
    
    df['day'] = dt.day.astype('uint8')
    print('day is done')
    
    df['hour'] = dt.hour.astype('uint8')
    print('hour is done')
    
    df['minute'] = dt.minute.astype('uint8')
    print('minute is done')
    
    df['second'] = dt.second.astype('uint8')
    print('second is done')
    print('================================================================')

get clicks
timestamping is done
year is done
month is done
week is done
day is done
hour is done
minute is done
second is done
================================================================
get clicks
timestamping is done
year is done
month is done
week is done
day is done
hour is done
minute is done
second is done
================================================================

In [6]:
target = 'is_attributed'
feature_col = ['ip', 
              'app', 
              'device', 
              'os', 
              'channel',
              'year', 
              'month',
              'week',
              'day',
              'hour',
              'timestamp',
              'minute',
              'second']

final_col = ['ip', 
              'app', 
              'device', 
              'os', 
              'channel',
              'day',
              'hour',
              'timestamp',
              'minute',
              'second']

train_cols =  feature_col.copy()
train_cols_final =  final_col.copy()
train_cols.append(target)
train_cols_final.append(target)

df_train = train[train_cols]
df_test = test[feature_col]
df_train_final = train[train_cols_final]
df_test_final = test[final_col]

print('saving')
df_train.to_csv(path+'train_cleaned.csv', index=False)
df_train_final.to_csv(path+'train_cleaned_final.csv', index=False)
print('training done')
df_test.to_csv(path+'test_cleaned.csv', index=False)
df_test_final.to_csv(path+'test_cleaned_final.csv', index=False)
print('testing done')

saving
training done
testing done

# processing on sample

In [7]:
train_sample = pd.read_csv(path + 'train_sample.csv',dtype=dtypes)

for df in [train_sample]:
    clicks = pd.to_datetime(df.click_time)
    print('get clicks')
    df['timestamp'] = apply_by_multiprocessing(clicks, get_timestamp, workers=workers)
#     df['timestamp'] = clicks.apply(lambda t: t.timestamp())
    df['timestamp'] = df['timestamp'].astype('uint32')
    print('timestamping is done')
    
    dt = clicks.dt

    df['year'] = dt.year.astype('uint16')
    print('year is done')
    
    df['month'] = dt.month.astype('uint8')
    print('month is done')
        
    df['week'] = dt.week.astype('uint8')
    print('week is done')
    
    df['day'] = dt.day.astype('uint8')
    print('day is done')
    
    df['hour'] = dt.hour.astype('uint8')
    print('hour is done')
    
    df['minute'] = dt.minute.astype('uint8')
    print('minute is done')
    
    df['second'] = dt.second.astype('uint8')
    print('second is done')
    print('================================================================')

get clicks
timestamping is done
year is done
month is done
week is done
day is done
hour is done
minute is done
second is done
================================================================

In [9]:
df_train_sample = train_sample[train_cols]
df_train_sample.to_csv(path+'train_sample_cleaned.csv', index=False)
df_train_sample_final = df_train_sample[train_cols_final].copy()
df_train_sample_final.to_csv(path+'train_sample_cleaned_final.csv', index=False)