In [9]:
import pandas as pd


PATH = '../../data/'

a = pd.read_csv(PATH + 'a.csv')

print(a)

a.append(a.sample(n = 10, replace=True), ignore_index=True)

         A  toxic  severe_toxic  obscene  threat  insult  identity_hate
0  the and      0             0        0       0       0              0
1      and      0             0        0       0       0              0
2      and      0             0        0       0       0              0

          A  toxic  severe_toxic  obscene  threat  insult  identity_hate
0   the and      0             0        0       0       0              0
1       and      0             0        0       0       0              0
2       and      0             0        0       0       0              0
3       and      0             0        0       0       0              0
4       and      0             0        0       0       0              0
5       and      0             0        0       0       0              0
6       and      0             0        0       0       0              0
7   the and      0             0        0       0       0              0
8       and      0             0        0       0       0              0
9       and      0             0        0       0       0              0
10  the and      0             0        0       0       0              0
11  the and      0             0        0       0       0              0
12      and      0             0        0       0       0              0