In [2]:
import pandas as pd
import numpy as np

In [12]:
count = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_count_all_0405_combine5_61.csv', header=None)
# count21 = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_count_all_0404_scale21.csv', header=None)
mean = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_mean_all_0405_combine5.csv', header=None)
mean21 = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_cm0408_2_leaf7.csv', header=None)
reversemean = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_reversemean_all_0405_combine5.csv', header=None)

time2nextclick = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_time2nextclick_0405_combine5_61.csv', header=None)
time2previousclick = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_time2previousclick_0405_combine5_61.csv', header=None)

countfromfuture = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_countfromfuture_0405_combine5_61.csv', header=None)
countfrompast = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_countfrompast_0405_combine5_61.csv', header=None)
lasttimediff = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_lasttimediff_0405_combine5_61.csv', header=None)

In [13]:
lasttimediff.head(50)

                                        0    1
0                                 channel  846
1                                     app  593
2                                      os  526
3                         ip_lasttimediff  143
4           ip_app_device_os_lasttimediff  141
5   ip_app_device_os_channel_lasttimediff  129
6                     ip_app_lasttimediff  101
7                      ip_os_lasttimediff   95
8                  ip_app_os_lasttimediff   91
9                                    hour   89
10              ip_device_os_lasttimediff   82
11                                 device   82
12                 ip_device_lasttimediff   80
13                        os_lasttimediff   71
14             ip_app_device_lasttimediff   67
15             ip_os_channel_lasttimediff   64
16                ip_channel_lasttimediff   62
17         ip_app_os_channel_lasttimediff   58
18      ip_device_os_channel_lasttimediff   58
19            ip_app_channel_lasttimediff   56
20                    device_lasttimediff   38
21     ip_app_device_channel_lasttimediff   37
22                   channel_lasttimediff   36
23                 device_os_lasttimediff   35
24            app_os_channel_lasttimediff   34
25                       app_lasttimediff   32
26         ip_device_channel_lasttimediff   31
27             app_device_os_lasttimediff   25
28                app_device_lasttimediff   23
29         device_os_channel_lasttimediff   22
30                    app_os_lasttimediff   20
31                os_channel_lasttimediff   19
32     app_device_os_channel_lasttimediff   18
33        app_device_channel_lasttimediff   13
34            device_channel_lasttimediff   12
35               app_channel_lasttimediff   11
36                                    day    0

In [42]:
# mean.iloc[27:]

In [17]:
all_features = []



###############################################################################
features_count = ['ip_day_intesthh_count', 
                  'ip_day_hour_count', 
                  'ip_os_day_hour_count' ,
                  'ip_app_day_hour_count', 
                  'ip_app_os_day_hour_count', 
                  'app_day_hour_count',
                 
                 'app_channel_count',  #0.9705
                  
                 'device_os_count',
                  'app_os_channel_hour_count', 
                 ]
###################################################################
features_mean = [
                'app_os_channel_mean',  # yes for sure
                'app_os_channel_intesthh_mean', # yes for sure
                'ip_mean', # yes for sure
                'ip_app_mean', # yes for sure
                'ip_device_channel_mean', #yes for sure
                'ip_app_device_mean' ,  #yes for sure
                'ip_app_intesthh_mean', #yes for sure
                'ip_channel_mean', #yes for sure

                'ip_os_mean',  # yes for sure
                'ip_device_mean', # yes for sure
                'ip_app_device_channel_mean' # new added
    ]

############################# time related #######################################
features_time2nextclick = [
                           'ip_app_device_channel_time2nextclick', 
                           'ip_app_device_os_time2nextclick', 
                           'app_device_os_channel_time2nextclick',
                           'ip_app_device_os_channel_time2nextclick', 
                           'ip_time2nextclick']

features_time2previousclick = ['ip_time2previousclick', 
                               'ip_app_time2previousclick', 
                               'ip_device_time2previousclick', 
                               'ip_channel_time2previousclick', 
                               'ip_app_device_time2previousclick', 
                               'ip_os_time2previousclick',
                               'ip_app_device_os_channel_time2previousclick']

features_countfromfuture = ['app_device_countfromfuture', 
                          'app_channel_countfromfuture', 
                          'ip_device_countfromfuture', 
                          'ip_countfromfuture', 
                          'device_countfromfuture']

features_countfrompast = [ 'ip_countfrompast', 
                        'ip_device_countfrompast', 
                        'device_countfrompast', 
                        'app_channel_countfrompast', 
                        'app_countfrompast', 
                        'ip_app_device_os_countfrompast',
                        'ip_app_device_os_channel_countfrompast']

features_lasttimediff = [ 'ip_lasttimediff', 
                        'ip_app_device_os_lasttimediff', 
                        'ip_app_device_os_channel_lasttimediff', 
                        'ip_app_lasttimediff', 
                        'ip_os_lasttimediff', 
                        'os_lasttimediff',
                        'device_lasttimediff', 
                       'app_lasttimediff']

#################################################################3




features_ori = ['channel', 'app', 'os', 'device', 'hour', ]






all_features.extend(features_count)
all_features.extend(features_mean)
all_features.extend(features_time2nextclick)
all_features.extend(features_time2previousclick)
all_features.extend(features_countfromfuture)
all_features.extend(features_countfrompast)
all_features.extend(features_lasttimediff)
all_features.extend(features_ori)

In [18]:
import json as js
file = '/home/kai/data/kaggle/talkingdata/wl/data/features/feature_cols.json'
with open(file, 'w') as myjs:
    js.dump(all_features, myjs)
    
    
# with open(file, 'r') as myjs:
#     my = js.load(myjs)

In [34]:
mean[mean[0] == 'os_mean']

           0  1
184  os_mean  0

In [4]:
count_nonscale[count_nonscale[0] == 'ip_day_hour_count']

                    0    1
13  ip_day_hour_count  119

In [12]:
df1 = pd.DataFrame({'a':[1,2], 'b':[3,4], 'c': [5,6]})
df2 = pd.DataFrame({'c':[13,14], 'a':[11,12]})

In [13]:
df1

   a  b  c
0  1  3  5
1  2  4  6

In [14]:
df2

    a   c
0  11  13
1  12  14

In [15]:
pd.concat([df1, df2])

    a    b   c
0   1  3.0   5
1   2  4.0   6
0  11  NaN  13
1  12  NaN  14

In [16]:
def aa(x):
    return x

In [17]:
aa.__name__

'aa'