In [1]:
import pandas as pd
import numpy as np

In [2]:
count = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_fold_last_in_12_count_scale.csv', header=None)
count_nonscale = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_fold_last_in_12_count_noscale.csv', header=None)
mean_nonscale = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_fold_last_in_12_noscale_mean.csv', header=None)
mean_float = pd.read_csv('/home/kai/data/kaggle/talkingdata/wl/data/output/importance_train_fold_last_in_12_noscale_meanfloat.csv', header=None)

In [3]:
count_nonscale.head(20)

                           0    1
0                         ip  844
1                    channel  267
2                   ip_count  252
3                        app  226
4                         os  167
5           ip_app_day_count  153
6           ip_os_hour_count  144
7           ip_channel_count  142
8                  app_count  142
9            ip_os_day_count  134
10           ip_minute_count  132
11         hour_second_count  131
12              ip_day_count  123
13         ip_day_hour_count  119
14       ip_day_minute_count  116
15         ip_app_hour_count  115
16             ip_hour_count  113
17  hour_minute_second_count  112
18    app_channel_hour_count  110
19           ip_second_count  110

In [59]:
mean_nonscale.head(50)

                            0    1
0                          ip  973
1                     ip_mean  315
2         app_os_channel_mean  291
3                 ip_day_mean  211
4     hour_minute_second_mean  167
5              ip_second_mean  155
6          minute_second_mean  139
7             day_minute_mean  127
8                 second_mean  121
9      day_minute_second_mean  119
10         ip_app_device_mean  119
11                ip_app_mean  116
12       day_hour_minute_mean  111
13           hour_minute_mean  111
14           app_os_hour_mean  107
15       app_channel_day_mean  107
16            ip_channel_mean  107
17      app_channel_hour_mean  106
18                    channel  106
19         app_device_os_mean  103
20                minute_mean  103
21           hour_second_mean  103
22               ip_hour_mean  103
23             ip_os_day_mean  102
24     device_day_minute_mean  102
25       day_hour_second_mean  100
26            ip_os_hour_mean   96
27            day_second_mean   96
28           ip_day_hour_mean   96
29         device_minute_mean   95
30       device_day_hour_mean   94
31      os_minute_second_mean   94
32        ip_app_channel_mean   92
33    device_hour_minute_mean   92
34  device_minute_second_mean   90
35     device_day_second_mean   90
36                     minute   89
37          app_day_hour_mean   87
38        device_os_hour_mean   87
39        os_channel_day_mean   86
40           app_channel_mean   86
41             ip_minute_mean   84
42                         os   83
43       os_channel_hour_mean   82
44           os_day_hour_mean   79
45    app_device_channel_mean   79
46        os_hour_second_mean   77
47         device_second_mean   76
48         os_day_second_mean   74
49            ip_app_day_mean   73

In [9]:
all_features = []
features_count = ['ip_os_hour_count','ip_channel_count', 'ip_minute_count']
features_mean = ['ip_mean', 
            'app_os_channel_mean', 
            'hour_minute_second_mean', 
            'app_os_hour_mean', 
            'ip_second_mean', 
            'ip_app_device_mean', 
            'device_minute_second_mean', 
            'ip_app_mean',
            'ip_channel_mean',
            'device_minute_mean',
            'app_channel_hour_mean' ]
features_ori = ['channel', 'app', 'os']

all_features.extend(features_count)
all_features.extend(features_mean)
all_features.extend(features_ori)

In [10]:
import json as js
file = '/home/kai/data/kaggle/talkingdata/wl/data/features/feature_cols.json'
with open(file, 'w') as myjs:
    js.dump(all_features, myjs)
    
    
# with open(file, 'r') as myjs:
#     my = js.load(myjs)

In [8]:
mean_float[mean_float[0] == 'ip_app_hour_mean']

                   0   1
77  ip_app_hour_mean  54

In [5]:
count_nonscale[count_nonscale[0] == 'ip_app_count']

               0   1
39  ip_app_count  84