In [3]:
import pandas as pd

In [4]:
label_cols = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']

In [5]:
PREV_ID = '1518834132'

In [10]:
import os


SUB_DIR = '/home/kai/data/shiyi/toxic/submissions/'
for root, dirs, files in os.walk(SUB_DIR):
    print(root, dirs, files)
    print('\n########################################\n')
#     for filename in files:
#         if PREV_ID in filename:
#             print(filename)

/home/kai/data/shiyi/toxic/submissions/ ['.ipynb_checkpoints'] ['sub_100000_100_50_50_0.3_32_2_glove.6B.100d.txt_1518162974.csv', 'sub_None_False_LR_1518051015.csv', 'sub_FastText_w_rule_0.49_1_200_1518810230.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_6_1518834132.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_5_1518831630.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_1_1518821416.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_8_1518839162.csv', 'sub_FastText_200_300_50_50_0.3_32_2_1518193375.csv', 'sub_w_rule_0.41_1_200_1518730951.csv', 'sub_w_rule_0.07_4_250_1518730933.csv', 'sub_FastText_w_rule_0.38_3_150_1518810222.csv', 'sub_w_rule_0.34_3_150_1518730948.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_3_1518826604.csv', 'sub_None_True_LR_1518050731.csv', 'sub_100000_200_50_50_0.3_32_2_glove.6B.200d.txt_1518153808.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_4_1518806221.csv', 'sub_FastText_w_rule_0.43_4_250_1518810226.csv', 'sub_w_rule_0.01_1_200_1518808111.csv', 'sub_FastText_w_rule_0.27_4_250_1518810214.csv', 'sub_FastText_w_rule_0.11_4_250_1518810203.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_9_1518841697.csv', 'sub_w_rule_0.21_1_200_1518730939.csv', 'sub_FastText_w_rule_0.06_3_150_1518810199.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_2_1518732352.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_2_1518824087.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_5_1518808863.csv', 'sub_FastText_w_rule_0.33_1_200_1518810218.csv', 'sub_FastText_w_rule_0.22_3_150_1518810211.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_3_1518800474.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_7_1518836633.csv', 'sub_FastText_200_300_50_50_0.3_32_2_1518209947.csv', 'sub_w_rule_1518728563.csv', 'sub_100000_300_50_50_0.3_32_2_glove.6B.300d.txt_1518144898.csv', 'sub_FastText_w_rule_0.17_1_200_1518810207.csv', 'sub_100000_100_50_50_0.3_32_10_glove.6B.100d.txt_1518278460.csv', 'sub_best_label_per_epoch_ensemble.csv', 'sub_w_rule_0.14_3_150_1518730936.csv', 'sub_100000_50_50_50_0.3_32_2_glove.6B.50d.txt_1518128073.csv', 'sample_submission.csv', '2974_3693_1015_3281_6614_3375_3100_0731_3808_8540_9947_4898_8460_8073_.csv', 'sub_w_rule_1518639653.csv', 'sub_w_rule_0.27_4_250_1518730943.csv', 'sub_FastText_cleaned_200_300_50_50_0.1_32_4_1518829115.csv', 'sub_w_rule_0.01_1_200_1518730929.csv', 'sub_FastText_w_rule_0.01_1_200_1518810194.csv', 'sub_1518559907.csv', 'sub_polarity.csv', 'sub_w_rule_0.47_4_250_1518730955.csv']

########################################

/home/kai/data/shiyi/toxic/submissions/.ipynb_checkpoints [] []

########################################

In [4]:
import os


SUB_DIR = '/home/kai/data/shiyi/toxic/submissions/'
count = 0
ensemble_id = ''
final = ''
for root, dirs, files in os.walk(SUB_DIR):
    for filename in files:
        if '_50_50_0.3_32_' in filename or '_None_' in filename:
            ensemble_id += str(filename.split('.')[-2].split('_')[-1] + '_')[-5:]
            sub_file = SUB_DIR + filename
            if count == 0:
                final = pd.read_csv(sub_file)[label_cols]
            else:
                final += pd.read_csv(sub_file)[label_cols]
            count+=1
    
print(count)
final = final / count
submission = pd.read_csv(SUB_DIR + 'sample_submission.csv')
submission[label_cols] = final
submission.to_csv(SUB_DIR + ensemble_id + '.csv', index=False)
    
print('done')

14
done

In [5]:
submission.head(2)

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.988955,0.256971,0.932274,0.049135,0.856196,0.184247
1,0000247867823ef7,0.005075,0.000148,0.000834,0.000293,0.001634,0.000610

In [6]:
submission.shape

(153164, 7)

In [ ]:
6_1518834132

In [2]:
SUB_DIR = '/home/kai/data/shiyi/toxic/submissions/'

In [9]:
# toxic 9842258161373858
ep6 = pd.read_csv(SUB_DIR + 'sub_FastText_cleaned_200_300_50_50_0.1_32_6_1518834132.csv')

In [9]:
# threat 9948437794681586
# insult 9869056088502415
ep5 = pd.read_csv(SUB_DIR + 'sub_FastText_cleaned_200_300_50_50_0.1_32_5_1518831630.csv')

In [3]:
# s_toxic 9913531979502753
# obscene 991878785173897
ep4 = pd.read_csv(SUB_DIR + 'sub_FastText_cleaned_200_300_50_50_0.1_32_4_1518829115.csv')

In [6]:
ep3 = pd.read_csv(SUB_DIR + 'sub_FastText_cleaned_200_300_50_50_0.1_32_3_1518826604.csv')

In [8]:
# identity_hate 0.9903321019273875
ep2 = pd.read_csv(SUB_DIR + 'sub_FastText_cleaned_200_300_50_50_0.1_32_2_1518824087.csv')

In [3]:
ep4 = pd.read_csv(SUB_DIR + 'sub_FastText_cleaned_200_300_50_50_0.1_32_4_1518829115.csv')

In [10]:
en_sub = (ep5[['id','toxic','threat','insult']].merge(ep4[['id','severe_toxic','obscene']], on='id')).merge(ep2[['id','identity_hate']], on='id')

In [17]:
en_sub = en_sub[['id']+label_cols]
en_sub.head(2)

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.999633,6.401173e-01,0.986715,2.624209e-01,9.472047e-01,0.304649
1,0000247867823ef7,0.000019,5.682290e-11,0.000004,1.086248e-08,2.028902e-07,0.000003

In [19]:
print(sum(en_sub.toxic != ep5.toxic))
print(sum(en_sub.threat != ep5.threat))
print(sum(en_sub.insult != ep5.insult))
print(sum(en_sub.severe_toxic != ep4.severe_toxic))
print(sum(en_sub.obscene != ep4.obscene))
print(sum(en_sub.identity_hate != ep2.identity_hate))

0
0
0
0
0
0

In [20]:
en_sub.to_csv(SUB_DIR + 'sub_best_label_per_epoch_ensemble.csv', index=False)

In [26]:
ID = '13415'
optimizer = 'adam'
window_length = 200
n_features = 300
bidirectional = False
rnn_mode = 'GRU'
RNN_UNITS = 50
DENSE_UNITS = 50
dense_activation = 'tanh'
DROPOUT = 0.1
BATCH_SIZE = 32
EPOCH = 5
trn_loss = 0.333333333
trn_acc = 0.9999999999
val_loss = 0.44444444
val_acc = 0.8888888888
val_auc = 0.89898989

In [27]:
import datetime

In [62]:
col_names = ('date,'+'ID,optimizer,window_length,n_features,bidirectional,rnn_mode,RNN_UNITS,DENSE_UNITS,dense_activation,DROPOUT,BATCH_SIZE,EPOCH,trn_loss,trn_acc,val_loss,val_acc,val_auc,toxic,severe_toxic,obscene,threat,insult,identity_hate\n')

In [63]:
col_names

'date,ID,optimizer,window_length,n_features,bidirectional,rnn_mode,RNN_UNITS,DENSE_UNITS,dense_activation,DROPOUT,BATCH_SIZE,EPOCH,trn_loss,trn_acc,val_loss,val_acc,val_auc,toxic,severe_toxic,obscene,threat,insult,identity_hate\n'

In [64]:
result = '%s,%s,%s,%d,%d,%s,%s,%d,%d,%s,%d,%d,%d,%.6f,%.6f,%.6f,%.6f,%.6f,%.6f,%.6f,%.6f,%.6f,%.6f,%.6f\n'\
            %(datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'),\
            ID,optimizer,window_length,n_features,bidirectional,rnn_mode,\
            RNN_UNITS,DENSE_UNITS,dense_activation,DROPOUT,BATCH_SIZE,EPOCH,\
            trn_loss,trn_acc,val_loss,val_acc,val_auc,1,1,1,1,1,1)

In [65]:
result

'2018-02-19 03:28:24,13415,adam,200,300,False,GRU,50,50,tanh,0,32,5,0.333333,1.000000,0.444444,0.888889,0.898990,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000\n'

In [76]:
with open('./temp.csv','w') as f:
    f.write(result)

In [78]:
c_n = col_names.split(',')

In [81]:
c_n

['date',
 'ID',
 'optimizer',
 'window_length',
 'n_features',
 'bidirectional',
 'rnn_mode',
 'RNN_UNITS',
 'DENSE_UNITS',
 'dense_activation',
 'DROPOUT',
 'BATCH_SIZE',
 'EPOCH',
 'trn_loss',
 'trn_acc',
 'val_loss',
 'val_acc',
 'val_auc',
 'toxic',
 'severe_toxic',
 'obscene',
 'threat',
 'insult',
 'identity_hate\n']

In [2]:
temp = pd.read_csv('fasttext_record.csv')

In [4]:
temp.sort_values(by='toxic',ascending=False)

,date,ID,optimizer,window_length,n_features,bidirectional,rnn_mode,RNN_UNITS,DENSE_UNITS,dense_activation,...,trn_acc,val_loss,val_acc,val_auc,toxic,severe_toxic,obscene,threat,insult,identity_hate
52,2018-02-20 08:58:16,1519114514,adam,200,300,True,LSTM,50,50,tanh,...,0.985439,0.040978,0.984030,0.990383,0.983916,0.991652,0.992617,0.994970,0.986921,0.992221
53,2018-02-20 09:48:08,1519117547,adam,200,300,True,LSTM,50,50,tanh,...,0.986047,0.041971,0.983842,0.990039,0.983867,0.991964,0.992474,0.993339,0.986996,0.991596
48,2018-02-20 06:07:35,1519105080,adam,200,300,True,GRU,50,50,tanh,...,0.986755,0.042784,0.983685,0.989274,0.983723,0.991091,0.991939,0.993329,0.986318,0.989242
6,2018-02-19 06:48:44,1519022036,adam,200,300,False,GRU,50,50,tanh,...,0.985779,0.044227,0.983915,0.987976,0.983594,0.991592,0.991232,0.987481,0.984976,0.988983
47,2018-02-20 05:31:55,1519102976,adam,200,300,True,GRU,50,50,tanh,...,0.986261,0.042529,0.983926,0.989538,0.983495,0.991367,0.991969,0.995240,0.985829,0.989327
51,2018-02-20 08:07:45,1519111519,adam,200,300,True,LSTM,50,50,tanh,...,0.984971,0.040812,0.983497,0.990079,0.983492,0.992147,0.992673,0.994206,0.986716,0.991241
44,2018-02-20 03:48:19,1519096873,adam,200,300,True,GRU,50,50,tanh,...,0.984976,0.041991,0.983100,0.989934,0.983366,0.991618,0.992229,0.995602,0.986065,0.990722
7,2018-02-19 07:07:13,1519023155,adam,200,300,False,GRU,50,50,tanh,...,0.986043,0.043240,0.983529,0.988913,0.983346,0.991418,0.991012,0.992631,0.985520,0.989549
54,2018-02-20 10:39:09,1519120539,adam,200,300,True,LSTM,50,50,tanh,...,0.986419,0.042479,0.983518,0.989815,0.983334,0.992143,0.992225,0.993197,0.986654,0.991337
3,2018-02-19 05:52:51,1519018666,adam,200,300,False,GRU,50,50,tanh,...,0.984854,0.041972,0.983915,0.988939,0.983233,0.991322,0.991724,0.991287,0.986367,0.989699
4,2018-02-19 06:11:22,1519019803,adam,200,300,False,GRU,50,50,tanh,...,0.985270,0.043027,0.983706,0.988283,0.983228,0.991381,0.991724,0.987126,0.986119,0.990122
9,2018-02-19 07:44:43,1519025400,adam,200,300,False,GRU,50,50,tanh,...,0.986481,0.043182,0.983205,0.988178,0.983173,0.991127,0.991050,0.990345,0.984968,0.988408
8,2018-02-19 07:26:06,1519024265,adam,200,300,False,GRU,50,50,tanh,...,0.986148,0.043159,0.983644,0.988511,0.983043,0.991231,0.990828,0.992249,0.984874,0.988842
49,2018-02-20 06:43:17,1519107222,adam,200,300,True,GRU,50,50,tanh,...,0.987189,0.043623,0.983351,0.988926,0.983005,0.991658,0.991549,0.991683,0.985835,0.989823
45,2018-02-20 04:22:16,1519098862,adam,200,300,True,GRU,50,50,tanh,...,0.985339,0.041225,0.983957,0.989702,0.982954,0.991890,0.992253,0.993794,0.986314,0.991008
46,2018-02-20 04:56:49,1519100901,adam,200,300,True,GRU,50,50,tanh,...,0.985954,0.043506,0.983414,0.989270,0.982820,0.991049,0.991644,0.994214,0.986245,0.989651
5,2018-02-19 06:30:05,1519020914,adam,200,300,False,GRU,50,50,tanh,...,0.985532,0.042529,0.983800,0.988140,0.982717,0.991308,0.991389,0.989167,0.985030,0.989231
1,2018-02-19 05:15:23,1519016446,adam,200,300,False,GRU,50,50,tanh,...,0.983899,0.042138,0.983769,0.988095,0.982685,0.991463,0.991696,0.985820,0.986237,0.990670
2,2018-02-19 05:33:54,1519017555,adam,200,300,False,GRU,50,50,tanh,...,0.984236,0.041539,0.983550,0.988626,0.982557,0.991548,0.991540,0.989723,0.985717,0.990671
55,2018-02-20 11:30:21,1519123600,adam,200,300,True,LSTM,50,50,tanh,...,0.987008,0.042197,0.983529,0.989339,0.982506,0.992109,0.992383,0.990628,0.986473,0.991936
43,2018-02-20 03:15:05,1519094876,adam,200,300,True,GRU,50,50,tanh,...,0.984304,0.041588,0.983623,0.989445,0.982498,0.991145,0.991831,0.994167,0.986124,0.990906
23,2018-02-19 12:24:32,1519041850,adam,200,300,False,LSTM,50,50,tanh,...,0.985906,0.042185,0.982902,0.989192,0.982479,0.991140,0.991936,0.993198,0.985855,0.990544
24,2018-02-19 12:50:04,1519043356,adam,200,300,False,LSTM,50,50,tanh,...,0.986350,0.042748,0.983748,0.989012,0.982401,0.990826,0.992286,0.991276,0.985860,0.991425
22,2018-02-19 11:59:27,1519040391,adam,200,300,False,LSTM,50,50,tanh,...,0.985603,0.043288,0.983602,0.988536,0.982379,0.991278,0.991869,0.989608,0.985520,0.990560
12,2018-02-19 08:40:56,1519028744,adam,200,300,False,GRU,50,50,tanh,...,0.986836,0.046044,0.982495,0.987301,0.982316,0.991176,0.990380,0.987174,0.984897,0.987861
21,2018-02-19 11:35:06,1519038955,adam,200,300,False,LSTM,50,50,tanh,...,0.985341,0.042401,0.983142,0.988611,0.982298,0.991109,0.991444,0.990908,0.985364,0.990542
11,2018-02-19 08:21:52,1519027634,adam,200,300,False,GRU,50,50,tanh,...,0.986854,0.043801,0.983435,0.987488,0.982294,0.991317,0.990339,0.987491,0.984213,0.989271
10,2018-02-19 08:03:21,1519026515,adam,200,300,False,GRU,50,50,tanh,...,0.986522,0.043248,0.983320,0.988184,0.982209,0.991816,0.990695,0.991917,0.984782,0.987683
30,2018-02-19 15:35:31,1519053093,adam,200,300,False,LSTM,50,50,tanh,...,0.987566,0.046841,0.983382,0.988434,0.982205,0.990419,0.991543,0.992559,0.985085,0.988795
56,2018-02-20 12:22:26,1519126671,adam,200,300,True,LSTM,50,50,tanh,...,0.987347,0.043629,0.983299,0.988713,0.982190,0.991823,0.992208,0.989157,0.985933,0.990964
50,2018-02-20 07:19:12,1519109364,adam,200,300,True,GRU,50,50,tanh,...,0.987273,0.045617,0.983581,0.988038,0.982135,0.991096,0.991684,0.989251,0.985236,0.988824
42,2018-02-20 02:41:49,1519092872,adam,200,300,True,GRU,50,50,tanh,...,0.983239,0.041893,0.983570,0.989012,0.982115,0.991870,0.991591,0.991767,0.985319,0.991409
20,2018-02-19 11:12:02,1519037824,adam,200,300,False,GRU,50,50,tanh,...,0.987624,0.046585,0.983121,0.987285,0.981984,0.990759,0.989972,0.988992,0.984459,0.987544
29,2018-02-19 15:06:47,1519051370,adam,200,300,False,LSTM,50,50,tanh,...,0.987451,0.044856,0.983038,0.988283,0.981882,0.989746,0.991423,0.992773,0.985026,0.988846
57,2018-02-20 13:15:01,1519129793,adam,200,300,True,LSTM,50,50,tanh,...,0.987832,0.044753,0.982902,0.988525,0.981857,0.991680,0.991780,0.990058,0.985275,0.990499
18,2018-02-19 10:34:14,1519035554,adam,200,300,False,GRU,50,50,tanh,...,0.987441,0.046846,0.983194,0.987109,0.981849,0.991079,0.990443,0.985815,0.984415,0.989054
25,2018-02-19 13:16:00,1519044890,adam,200,300,False,LSTM,50,50,tanh,...,0.986648,0.042965,0.983111,0.988695,0.981793,0.990634,0.991831,0.991988,0.985662,0.990263
14,2018-02-19 09:18:51,1519031028,adam,200,300,False,GRU,50,50,tanh,...,0.987189,0.046712,0.982808,0.986451,0.981654,0.991287,0.989939,0.983277,0.984559,0.987988
28,2018-02-19 14:38:04,1519049698,adam,200,300,False,LSTM,50,50,tanh,...,0.987260,0.044421,0.983602,0.988409,0.981602,0.990345,0.990648,0.994213,0.985000,0.988645
27,2018-02-19 14:10:12,1519048068,adam,200,300,False,LSTM,50,50,tanh,...,0.987051,0.044476,0.983121,0.988633,0.981580,0.990575,0.991246,0.992832,0.985274,0.990291
13,2018-02-19 08:59:56,1519029891,adam,200,300,False,GRU,50,50,tanh,...,0.986935,0.045618,0.983487,0.986595,0.981547,0.991067,0.990489,0.983934,0.984598,0.987935
17,2018-02-19 10:15:21,1519034433,adam,200,300,False,GRU,50,50,tanh,...,0.987402,0.048633,0.983111,0.985338,0.981481,0.990975,0.989742,0.979496,0.983889,0.986446
16,2018-02-19 09:56:40,1519033313,adam,200,300,False,GRU,50,50,tanh,...,0.987317,0.046230,0.983132,0.986729,0.981318,0.991263,0.990102,0.985625,0.984124,0.987939
19,2018-02-19 10:53:10,1519036688,adam,200,300,False,GRU,50,50,tanh,...,0.987489,0.048920,0.982975,0.986519,0.981314,0.991467,0.989631,0.986567,0.983819,0.986315
31,2018-02-19 16:05:31,1519054817,adam,200,300,False,LSTM,50,50,tanh,...,0.987788,0.046511,0.982818,0.987785,0.981119,0.990702,0.990681,0.992044,0.984065,0.988099
26,2018-02-19 13:43:03,1519046445,adam,200,300,False,LSTM,50,50,tanh,...,0.986791,0.044119,0.982860,0.988693,0.981027,0.990627,0.991695,0.994088,0.985185,0.989534
15,2018-02-19 09:38:00,1519032165,adam,200,300,False,GRU,50,50,tanh,...,0.987197,0.045986,0.983351,0.986551,0.981001,0.991142,0.989976,0.987677,0.983964,0.985545
33,2018-02-19 17:06:16,1519058424,adam,200,300,False,LSTM,50,50,tanh,...,0.987944,0.046555,0.982630,0.987199,0.980976,0.989619,0.990065,0.990932,0.983977,0.987622
58,2018-02-20 14:08:18,1519132949,adam,200,300,True,LSTM,50,50,tanh,...,0.988340,0.045508,0.982892,0.988471,0.980891,0.991206,0.991882,0.989753,0.985555,0.991539
59,2018-02-20 15:01:51,1519136146,adam,200,300,True,LSTM,50,50,tanh,...,0.988752,0.048601,0.983288,0.987916,0.980863,0.990936,0.992139,0.987377,0.985554,0.990629
35,2018-02-19 18:10:42,1519062164,adam,200,300,False,LSTM,50,50,tanh,...,0.988366,0.048504,0.982892,0.986509,0.980603,0.989871,0.989366,0.989171,0.983113,0.986932
0,2018-02-19 04:55:30,1519015248,adam,200,300,False,GRU,50,50,tanh,...,0.983022,0.043292,0.983236,0.986643,0.980588,0.991668,0.991265,0.979290,0.985830,0.991220
32,2018-02-19 16:35:37,1519056619,adam,200,300,False,LSTM,50,50,tanh,...,0.987897,0.047528,0.983268,0.987323,0.980450,0.989947,0.989934,0.990706,0.983962,0.988940
40,2018-02-19 21:02:31,1519072322,adam,200,300,False,LSTM,50,50,tanh,...,0.988728,0.050857,0.982380,0.986639,0.980365,0.989427,0.989655,0.989294,0.984383,0.986708
36,2018-02-19 18:44:28,1519064128,adam,200,300,False,LSTM,50,50,tanh,...,0.988242,0.050285,0.982808,0.987335,0.980332,0.990274,0.990056,0.990990,0.984537,0.987821
39,2018-02-19 20:27:16,1519070238,adam,200,300,False,LSTM,50,50,tanh,...,0.988685,0.048631,0.982432,0.986662,0.980017,0.989641,0.989697,0.990353,0.983225,0.987039
34,2018-02-19 17:37:58,1519060262,adam,200,300,False,LSTM,50,50,tanh,...,0.988020,0.048161,0.982515,0.986435,0.980017,0.990153,0.989341,0.988195,0.983549,0.987352
38,2018-02-19 19:52:32,1519068166,adam,200,300,False,LSTM,50,50,tanh,...,0.988617,0.049333,0.982693,0.986239,0.979829,0.989392,0.989485,0.987996,0.984690,0.986042
37,2018-02-19 19:17:59,1519066156,adam,200,300,False,LSTM,50,50,tanh,...,0.988492,0.051114,0.982798,0.986540,0.979726,0.989478,0.990080,0.989796,0.983901,0.986262
41,2018-02-20 02:08:28,1519090847,adam,200,300,True,GRU,50,50,tanh,...,0.979981,0.048009,0.982369,0.985925,0.978921,0.991341,0.989149,0.982608,0.982936,0.990598

In [172]:
temp.shape

(60, 24)

In [3]:
temp.head()

,date,ID,optimizer,window_length,n_features,bidirectional,rnn_mode,RNN_UNITS,DENSE_UNITS,dense_activation,...,trn_acc,val_loss,val_acc,val_auc,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,2018-02-19 04:55:30,1519015248,adam,200,300,False,GRU,50,50,tanh,...,0.983022,0.043292,0.983236,0.986643,0.980588,0.991668,0.991265,0.979290,0.985830,0.991220
1,2018-02-19 05:15:23,1519016446,adam,200,300,False,GRU,50,50,tanh,...,0.983899,0.042138,0.983769,0.988095,0.982685,0.991463,0.991696,0.985820,0.986237,0.990670
2,2018-02-19 05:33:54,1519017555,adam,200,300,False,GRU,50,50,tanh,...,0.984236,0.041539,0.983550,0.988626,0.982557,0.991548,0.991540,0.989723,0.985717,0.990671
3,2018-02-19 05:52:51,1519018666,adam,200,300,False,GRU,50,50,tanh,...,0.984854,0.041972,0.983915,0.988939,0.983233,0.991322,0.991724,0.991287,0.986367,0.989699
4,2018-02-19 06:11:22,1519019803,adam,200,300,False,GRU,50,50,tanh,...,0.985270,0.043027,0.983706,0.988283,0.983228,0.991381,0.991724,0.987126,0.986119,0.990122

In [ ]:
temp.sort_values(ascending=True)

In [1]:
import numpy as np
import pandas as pd

In [117]:
temp['test_roc'] = np.zeros(len(temp))

In [170]:
temp[temp.ID == 1519136146]

,date,ID,optimizer,window_length,n_features,bidirectional,rnn_mode,RNN_UNITS,DENSE_UNITS,dense_activation,...,trn_acc,val_loss,val_acc,val_auc,toxic,severe_toxic,obscene,threat,insult,identity_hate
59,2018-02-20 15:01:51,1519136146,adam,200,300,True,LSTM,50,50,tanh,...,0.988752,0.048601,0.983288,0.987916,0.980863,0.990936,0.992139,0.987377,0.985554,0.990629

In [174]:
temp.columns

Index(['date', 'ID', 'optimizer', 'window_length', 'n_features',
       'bidirectional', 'rnn_mode', 'RNN_UNITS', 'DENSE_UNITS',
       'dense_activation', 'DROPOUT', 'BATCH_SIZE', 'EPOCH', 'trn_loss',
       'trn_acc', 'val_loss', 'val_acc', 'val_auc', 'toxic', 'severe_toxic',
       'obscene', 'threat', 'insult', 'identity_hate'],
      dtype='object')

In [180]:
temp[(temp.bidirectional == True) & (temp.rnn_mode=='GRU')][['ID','date','rnn_mode','bidirectional','EPOCH','val_auc','val_loss']].sort_values(by=['val_loss'],ascending=True)

,ID,date,rnn_mode,bidirectional,EPOCH,val_auc,val_loss
45,1519098862,2018-02-20 04:22:16,GRU,True,5,0.989702,0.041225
43,1519094876,2018-02-20 03:15:05,GRU,True,3,0.989445,0.041588
42,1519092872,2018-02-20 02:41:49,GRU,True,2,0.989012,0.041893
44,1519096873,2018-02-20 03:48:19,GRU,True,4,0.989934,0.041991
47,1519102976,2018-02-20 05:31:55,GRU,True,7,0.989538,0.042529
48,1519105080,2018-02-20 06:07:35,GRU,True,8,0.989274,0.042784
46,1519100901,2018-02-20 04:56:49,GRU,True,6,0.989270,0.043506
49,1519107222,2018-02-20 06:43:17,GRU,True,9,0.988926,0.043623
50,1519109364,2018-02-20 07:19:12,GRU,True,10,0.988038,0.045617
41,1519090847,2018-02-20 02:08:28,GRU,True,1,0.985925,0.048009

In [178]:
temp[(temp.bidirectional == True) & (temp.rnn_mode=='LSTM')][['ID','date','rnn_mode','bidirectional','EPOCH','val_auc','val_loss']].sort_values(by=['val_auc'],ascending=False)

,ID,date,rnn_mode,bidirectional,EPOCH,val_auc,val_loss
52,1519114514,2018-02-20 08:58:16,LSTM,True,5,0.990383,0.040978
51,1519111519,2018-02-20 08:07:45,LSTM,True,4,0.990079,0.040812
53,1519117547,2018-02-20 09:48:08,LSTM,True,6,0.990039,0.041971
54,1519120539,2018-02-20 10:39:09,LSTM,True,7,0.989815,0.042479
55,1519123600,2018-02-20 11:30:21,LSTM,True,8,0.989339,0.042197
56,1519126671,2018-02-20 12:22:26,LSTM,True,9,0.988713,0.043629
57,1519129793,2018-02-20 13:15:01,LSTM,True,10,0.988525,0.044753
58,1519132949,2018-02-20 14:08:18,LSTM,True,11,0.988471,0.045508
59,1519136146,2018-02-20 15:01:51,LSTM,True,12,0.987916,0.048601

In [160]:
import datetime

In [169]:
datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2018-02-20 15:02:41'

In [133]:
temp[temp.ID == 1519018666].test_roc

3    0.9823
Name: test_roc, dtype: float64

In [141]:
temp.loc[temp.ID == 1519020914,'test_roc'] = 0.9827

In [146]:
temp.columns

Index(['date', 'ID', 'optimizer', 'window_length', 'n_features',
       'bidirectional', 'rnn_mode', 'RNN_UNITS', 'DENSE_UNITS',
       'dense_activation', 'DROPOUT', 'BATCH_SIZE', 'EPOCH', 'trn_loss',
       'trn_acc', 'val_loss', 'val_acc', 'val_auc', 'toxic', 'severe_toxic',
       'obscene', 'threat', 'insult', 'identity_hate', 'test_roc'],
      dtype='object')

In [151]:
temp[['ID','rnn_mode','EPOCH','val_auc','val_loss','test_roc','toxic']].sort_values(by=['toxic'],ascending=False).head(5)

           ID rnn_mode  EPOCH   val_auc  val_loss  test_roc     toxic
6  1519022036      GRU      8  0.987976  0.044227    0.0000  0.983594
7  1519023155      GRU      9  0.988913  0.043240    0.9823  0.983346
3  1519018666      GRU      5  0.988939  0.041972    0.9823  0.983233
4  1519019803      GRU      6  0.988283  0.043027    0.0000  0.983228
9  1519025400      GRU     11  0.988178  0.043182    0.0000  0.983173

In [153]:
temp[['ID','rnn_mode','EPOCH','val_auc','val_loss','test_roc','severe_toxic']].sort_values(by=['severe_toxic'],ascending=False).head(5)

            ID rnn_mode  EPOCH   val_auc  val_loss  test_roc  severe_toxic
10  1519026515      GRU     12  0.988184  0.043248    0.0000      0.991816
0   1519015248      GRU      2  0.986643  0.043292    0.0000      0.991668
6   1519022036      GRU      8  0.987976  0.044227    0.0000      0.991592
2   1519017555      GRU      4  0.988626  0.041539    0.9822      0.991548
19  1519036688      GRU     21  0.986519  0.048920    0.0000      0.991467

In [154]:
temp[['ID','rnn_mode','EPOCH','val_auc','val_loss','test_roc','obscene']].sort_values(by=['obscene'],ascending=False).head(5)

            ID rnn_mode  EPOCH   val_auc  val_loss  test_roc   obscene
24  1519043356     LSTM      9  0.989012  0.042748    0.0000  0.992286
23  1519041850     LSTM      8  0.989192  0.042185    0.0000  0.991936
22  1519040391     LSTM      7  0.988536  0.043288    0.0000  0.991869
25  1519044890     LSTM     10  0.988695  0.042965    0.0000  0.991831
3   1519018666      GRU      5  0.988939  0.041972    0.9823  0.991724

In [145]:
temp[temp.rnn_mode=='GRU'][['ID','EPOCH','val_auc','val_loss','test_roc']].sort_values(by=['val_auc'], ascending=False)

            ID  EPOCH   val_auc  val_loss  test_roc
3   1519018666      5  0.988939  0.041972    0.9823
7   1519023155      9  0.988913  0.043240    0.9823
2   1519017555      4  0.988626  0.041539    0.9822
8   1519024265     10  0.988511  0.043159    0.0000
4   1519019803      6  0.988283  0.043027    0.0000
10  1519026515     12  0.988184  0.043248    0.0000
9   1519025400     11  0.988178  0.043182    0.0000
5   1519020914      7  0.988140  0.042529    0.9827
1   1519016446      3  0.988095  0.042138    0.9812
6   1519022036      8  0.987976  0.044227    0.0000
11  1519027634     13  0.987488  0.043801    0.0000
12  1519028744     14  0.987301  0.046044    0.0000
20  1519037824     22  0.987285  0.046585    0.0000
18  1519035554     20  0.987109  0.046846    0.0000
16  1519033313     18  0.986729  0.046230    0.0000
0   1519015248      2  0.986643  0.043292    0.0000
13  1519029891     15  0.986595  0.045618    0.0000
15  1519032165     17  0.986551  0.045986    0.0000
19  1519036688     21  0.986519  0.048920    0.0000
14  1519031028     16  0.986451  0.046712    0.0000
17  1519034433     19  0.985338  0.048633    0.0000

In [143]:
temp[temp.rnn_mode=='GRU'][['ID','EPOCH','val_auc','val_loss','test_roc']].sort_values(by=['val_loss'], ascending=True)

            ID  EPOCH   val_auc  val_loss  test_roc
2   1519017555      4  0.988626  0.041539    0.9822
3   1519018666      5  0.988939  0.041972    0.9823
1   1519016446      3  0.988095  0.042138    0.9812
5   1519020914      7  0.988140  0.042529    0.9827
4   1519019803      6  0.988283  0.043027    0.0000
8   1519024265     10  0.988511  0.043159    0.0000
9   1519025400     11  0.988178  0.043182    0.0000
7   1519023155      9  0.988913  0.043240    0.9823
10  1519026515     12  0.988184  0.043248    0.0000
0   1519015248      2  0.986643  0.043292    0.0000
11  1519027634     13  0.987488  0.043801    0.0000
6   1519022036      8  0.987976  0.044227    0.0000
13  1519029891     15  0.986595  0.045618    0.0000
15  1519032165     17  0.986551  0.045986    0.0000
12  1519028744     14  0.987301  0.046044    0.0000
16  1519033313     18  0.986729  0.046230    0.0000
20  1519037824     22  0.987285  0.046585    0.0000
14  1519031028     16  0.986451  0.046712    0.0000
18  1519035554     20  0.987109  0.046846    0.0000
17  1519034433     19  0.985338  0.048633    0.0000
19  1519036688     21  0.986519  0.048920    0.0000

In [111]:
temp[temp.rnn_mode=='LSTM'][['ID','EPOCH','val_auc']].sort_values(by=['val_auc'], ascending=False)

            ID  EPOCH   val_auc
23  1519041850      8  0.989192
24  1519043356      9  0.989012
25  1519044890     10  0.988695
26  1519046445     11  0.988693
27  1519048068     12  0.988633
21  1519038955      6  0.988611
22  1519040391      7  0.988536
30  1519053093     15  0.988434
28  1519049698     13  0.988409
29  1519051370     14  0.988283
31  1519054817     16  0.987785
36  1519064128     21  0.987335
32  1519056619     17  0.987323
33  1519058424     18  0.987199
37  1519066156     22  0.986540
35  1519062164     20  0.986509
34  1519060262     19  0.986435
38  1519068166     23  0.986239

In [70]:
temp.columns

Index(['date', 'ID', 'optimizer', 'window_length', 'n_features',
       'bidirectional', 'rnn_mode', 'RNN_UNITS', 'DENSE_UNITS',
       'dense_activation', 'DROPOUT', 'BATCH_SIZE', 'EPOCH', 'trn_loss',
       'trn_acc', 'val_loss', 'val_acc', 'val_auc', 'toxic', 'severe_toxic',
       'obscene', 'threat', 'insult', 'identity_hate'],
      dtype='object')